- name: Delete Directory or File in Management Root
  isam:
    appliance: "{{ inventory_hostname }}"
    username:  "{{ username }}"
    password:  "{{ password }}"
    lmi_port:  "{{ lmi_port }}"
    log:       "{{ log_level }}"
    force:     "{{ force }}"
    action: ibmsecurity.isam.web.reverse_proxy.management_root.file.delete
    isamapi:
      instance_id: "{{ delete_mgmt_root_file_instance_id }}"
      id         : "{{ item }}"
  with_items: "{{ delete_mgmt_root_file_ids }}"
  when: delete_mgmt_root_file_instance_id is defined and delete_mgmt_root_file_ids is defined
  notify:
  - Commit Changes
