- name: Change Embedded LDAP password
  isam:
    appliance: "{{ inventory_hostname }}"
    adminProxyProtocol: "{{ adminProxyProtocol | default(omit) }}"
    adminProxyHostname: "{{ adminProxyHostname | default(omit) }}"
    adminProxyPort: "{{ adminProxyPort | default(omit) }}"
    adminProxyApplianceShortName: "{{ adminProxyApplianceShortName | default(omit) }}"
    omitAdminProxy: "{{ omitAdminProxy | default(omit) }}"
    username:  "{{ username }}"
    password:  "{{ password }}"
    lmi_port:  "{{ port | default(omit) }}"
    log:       "{{ log_level | default(omit) }}"
    force:     "{{ force | default(omit) }}"
    action: ibmsecurity.isam.web.embedded_ldap.admin.set_pw
    isamapi:
      password: "{{ policyserver_runtime.configuration.ldap_pwd }}"
  when: policyserver_runtime is defined and policyserver_runtime.configuration is defined and policyserver_runtime.configuration.ldap_pwd is defined
  notify: Commit Changes
